.ShowInfo-container{
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(101, 85, 219, 0.6);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    color: rgba(185, 178, 241, 0.6);
}
.goBack-button{
    margin-top: 50px;
    background-color: rgb(193, 175, 213);
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight:bolder;
    width: 200px;
    height: 40px;
}





@media (max-width: 1000px ) {
    .ShowInfo-container {
        width: 100%; /* Adjust the width for smaller screens */
        font-size: 10px;    }
  }

